.light {
  min-height: 100vh;
  background-color: lightblue;
}

.dark {
  min-height: 100vh;
  background-color: blue;
}

.tweet {
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
}